.container{
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.calculator{
    background-color: bisque;
    border-radius: 3px;
    padding: 8px;
}
.calculator form input{
    width: 50px;
    height: 50px;
    border-radius: 5px;
    background: transparent;
    font-size: 20px;
    margin: 10px;
}
form .display{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}
form .display input{
    font-size: 45px;
    box-shadow: none;
    flex: 1;
    text-align: right;
}
form input.equal{
    width: 125px;
}